# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

format = """
$os\
$username\
$hostname\
$directory\
$git_branch\
(\
$bun\
$c\
$cmake\
$dart\
$dotnet\
$golang\
$gradle\
$java\
$kotlin\
$lua\
$nodejs\
$package\
$php\
$python\
$rlang\
$ruby\
$rust\
$scala\
)\
$container\
\\[\
$time\
\\]\
$battery\
$cmd_duration\
$linebreak
$character\
"""

[character]
success_symbol = '[➜](bold green)'
error_symbol = '[➜](bold red)'

[cmd_duration]
disabled = false
format = '\( [$duration]($style)\)'
min_time = 5000

[username]
disabled = false
show_always = true
format = '[$user]($style)'
style_user = "green bold"
style_root = "red bold"
aliases = {} #{ "soda" = "hilbert" }

[hostname]
format = '@[$hostname$ssh_symbol]($style) '
ssh_only = false
ssh_symbol = ''

[directory]
format = 'in [$path]($style)[($read_only)]($read_only_style) '
read_only = '!'
truncate_to_repo = false

[git_branch]
format = 'on [$symbol$branch(:$remote_branch)]($style) '
symbol = ' '

[fill]
symbol = '-'

[os]
disabled = false
format = '[$symbol]($style) '
style = "white bold dimmed"

[os.symbols]
AIX = " "
Alpaquita = ' '
Alpine = ' '
AlmaLinux = ' '
Amazon = ' '
Android = ' '
Arch = ' '
Artix = ' '
CentOS = ' '
Debian = ' '
DragonFly = ' '
Emscripten = ' '
EndeavourOS = ' '
Fedora = ' '
FreeBSD = ' '
Garuda = ' '
Gentoo = ' '
HardenedBSD = ' '
Illumos = ' '
Kali = ' '
Linux = ' '
Mabox = ' '
Macos = ' '
Manjaro = ' '
Mariner = ' '
MidnightBSD = ' '
Mint = ' '
NetBSD = ' '
NixOS = ' '
OpenBSD = ' '
OpenCloudOS = ' '
openEuler = ' '
openSUSE = ' '
OracleLinux = '󰌷 '
Pop = ' '
Raspbian = ' '
Redhat = ' '
RedHatEnterprise = ' '
RockyLinux = ' '
Redox = '󰀘 '
Solus = '󰠳 '
SUSE = ' '
Ubuntu = ' '
Ultramarine = ' '
Unknown = ' '
Void = ' '
Windows = ' '

[battery]
format = '\[[$symbol$percentage]($style)\]'
full_symbol = ' '
charging_symbol = ' '
discharging_symbol = ' '
unknown_symbol = ' '
empty_symbol = ' '

[[battery.display]]
threshold = 20
style = 'bold red'
charging_symbol = ' '
discharging_symbol = ' '

[[battery.display]]
threshold = 50
style = 'bold orange'
charging_symbol = ' '
discharging_symbol = ' '

[[battery.display]]
threshold = 90
style = 'bold green'
charging_symbol = ' '
discharging_symbol = ' '

[time]
disabled = false
format = ' [$time]($style)'
